# List category Data-Type(Collection DT)
- The purpose of List Category DT is that "to store multiple values either same type (or) different type (or) both the types" in single objects with unique and duplicate.
- We have two Data-types in List category
    - 1) List (Mutable)
    - 2) Tuple (Immutable)

# List[]:
- List is one of the pre-defined class and treated as list category DT.
- The purpose of List Category DT is that "to store multiple values either same type (or) different type (or) both the types" in single objects with unique and duplicate.
- To store list data, we use square brackets.
    - syntax: varname = [val1, val2, ...., valn]
- Here varname is an object of list

In [1]:
lst = [10,20,30,40,20,10]
print(lst,type(lst),id(lst))

[10, 20, 30, 40, 20, 10] <class 'list'> 2119833060096

In [2]:
lst = [10,"vinay","kritika",2+3j,2.45,10]
print(lst,type(lst),id(lst))

[10, 'vinay', 'kritika', (2+3j), 2.45, 10] <class 'list'> 2119833060544

- An object of list maintains insertion order

In [3]:
lst[0]

10

In [4]:
lst[1]

'vinay'

In [5]:
lst[4]

2.45

- An object of list belongs to mutable because list object allows us to perform modification / updation / assignment by using indexing and slicing.

# In list we can create two types of list objects.
- They are:
    - 1) Empty list
    - 2) Non-Empty list

# Pre-defined functions in list:
- We know that the object of list, we can perform both indexing and slicing operations.
- With indexing, we get / access values and we can update single value of list object.
- With slicing operation we get / access multiple values and we can update multiple value  of list object.
- To do more operations on list object along with index and slicing operation, we use the pre-defined functions present in list.
    - 1) append()
    - 2) insert()
    - 3) remove()
    - 4) pop(index)
    - 5) pop()
       - del operator
    - 6) clear()
    - 7) index()
        - enumerator
    - 8) copy()
    - 9) count()
    - 10) reverse()
    - 11) sort()
    - 12) extend()

# 1) append()
- This function is used for adding the element / values at the end of the list.
    - syntax: listobj.append(values)

In [7]:
lst = []
print(lst,type(lst),id(lst))
print("------------------------")
lst.append(10)
print(lst)

[] <class 'list'> 2119833059712
------------------------
[10]

In [8]:
lst.append(20)
print(lst)

[10, 20]

In [9]:
lst.append("vinay")
print(lst)

[10, 20, 'vinay']

In [10]:
lst.append(2+3j)
print(lst)

[10, 20, 'vinay', (2+3j)]

In [11]:
lst.append(1.5)
print(lst)

[10, 20, 'vinay', (2+3j), 1.5]

# 2) insert()
- This function is used for inserting an element in the existing list at specified index.
  - Here index can be either positive or Negative

In [12]:
lst = [10,20,"vinay",2+4j]
print(lst,type(lst),id(lst))
print("---------------------------------")
lst.insert(3,3.6)
print(lst,type(lst))

[10, 20, 'vinay', (2+4j)] <class 'list'> 2119833059584
---------------------------------
[10, 20, 'vinay', 3.6, (2+4j)] <class 'list'>

# 3) remove()
- This function is used for removing the specified val from list object.
- If the specified value does not exist then we get error.
        - lstobj.remove(val)

In [14]:
lst = [10,20,"Vinay","Kritika",1.4,2+5j]
print(lst,type(lst),id(lst))
print("-----------------------------------")
lst.remove(20)
print(lst,type(lst),id(lst))

[10, 20, 'Vinay', 'Kritika', 1.4, (2+5j)] <class 'list'> 2119833059392
-----------------------------------
[10, 'Vinay', 'Kritika', 1.4, (2+5j)] <class 'list'> 2119833059392

# 4) pop(index) --> Based on index removing
- This function is used for removing an element of list based on valid index.
- Index can be either positvie or negative
    - syntax: listobj.pop(ind)

In [15]:
lst = [10,20,"Vinay","Kritika",1.4,2+5j]
print(lst,type(lst),id(lst))
print("-----------------------------------")
lst.pop(4)
print(lst,type(lst),id(lst))

[10, 20, 'Vinay', 'Kritika', 1.4, (2+5j)] <class 'list'> 2119833059520
-----------------------------------
[10, 20, 'Vinay', 'Kritika', (2+5j)] <class 'list'> 2119833059520

In [16]:
lst = [10,20,"Vinay","Kritika",1.4,2+5j]
print(lst,type(lst),id(lst))
print("-----------------------------------")
lst.pop(1)
print(lst,type(lst),id(lst))

[10, 20, 'Vinay', 'Kritika', 1.4, (2+5j)] <class 'list'> 2119833059648
-----------------------------------
[10, 'Vinay', 'Kritika', 1.4, (2+5j)] <class 'list'> 2119833059648

# 5) pop() --> LIFO
- This function is used for removing the last element of list.
    - Syntax: listobj.pop() ---> Internally -1 will take

In [17]:
lst = [10,20,"Vinay","Kritika",1.4,2+5j]
print(lst,type(lst),id(lst))
print("-----------------------------------")
lst.pop()
print(lst,type(lst),id(lst))

[10, 20, 'Vinay', 'Kritika', 1.4, (2+5j)] <class 'list'> 2119832994176
-----------------------------------
[10, 20, 'Vinay', 'Kritika', 1.4] <class 'list'> 2119832994176

# del operator
- Syntax: del listobj[index] ---> Removing one element
- Syntax: del listobj[Begin index : End index] ---> Removes element

In [19]:
lst = [10,20,"Vinay","Kritika",1.4,2+5j]
print(lst,type(lst),id(lst))
print("-----------------------------------")
del lst[-2]
print(lst)

[10, 20, 'Vinay', 'Kritika', 1.4, (2+5j)] <class 'list'> 2119796206848
-----------------------------------
[10, 20, 'Vinay', 'Kritika', (2+5j)]

In [20]:
lst = [10,20,"Vinay","Kritika",1.4,2+5j]
print(lst,type(lst),id(lst))
print("-----------------------------------")
del lst[2:4]
print(lst,type(lst),id(lst))

[10, 20, 'Vinay', 'Kritika', 1.4, (2+5j)] <class 'list'> 2119832838016
-----------------------------------
[10, 20, 1.4, (2+5j)] <class 'list'> 2119832838016

# 7) clear()
- This function is used for removing all elements.
- If we call this function upon empty list object then we get space (or) None as result.

In [22]:
lst = [10,20,"Vinay","Kritika",1.4,2+5j]
print(lst,type(lst),id(lst))
print("-----------------------------------")
lst.clear()
print(lst,type(lst),id(lst))

[10, 20, 'Vinay', 'Kritika', 1.4, (2+5j)] <class 'list'> 2119833004352
-----------------------------------
[] <class 'list'> 2119833004352

# 8) Set() --> It will removes duplicates

In [23]:
lst = [10,20,"Vinay","Kritika",1.4,2+5j,10,20,"Sai"]
print(lst,type(lst),id(lst))
print("-----------------------------------")
s = set(lst)
print(s,type(s),id(s))

[10, 20, 'Vinay', 'Kritika', 1.4, (2+5j), 10, 20, 'Sai'] <class 'list'> 2119833130752
-----------------------------------
{1.4, 'Sai', 'Kritika', 10, 'Vinay', (2+5j), 20} <class 'set'> 2119832707680

# 9) Index()
- This function is used for obtaining the index of 1st occurences of specified element.
- If the specified values does not exist then we will get value error.
    - Syntax: listobj.index(val)

In [28]:
lst = [10,20,"Vinay","Kritika",1.4,2+5j,10,20]
print(lst,type(lst),id(lst))
print("-----------------------------------")
lst.index(10)

[10, 20, 'Vinay', 'Kritika', 1.4, (2+5j), 10, 20] <class 'list'> 2119847516736
-----------------------------------

0

# copy()

# count()

In [31]:
lst = [10,20,"Vinay","Kritika",1.4,2+5j,10,20]
print(lst,type(lst),id(lst))
print("-----------------------------------")
lst.count(10)

[10, 20, 'Vinay', 'Kritika', 1.4, (2+5j), 10, 20] <class 'list'> 2119847516672
-----------------------------------

2

# reverse()

In [32]:
lst = [10,20,"Vinay","Kritika",1.4,2+5j]
print(lst,type(lst),id(lst))
print("-----------------------------------")
lst.reverse()
print(lst,type(lst),id(lst))

[10, 20, 'Vinay', 'Kritika', 1.4, (2+5j)] <class 'list'> 2119847513920
-----------------------------------
[(2+5j), 1.4, 'Kritika', 'Vinay', 20, 10] <class 'list'> 2119847513920

# sort()

In [34]:
lst = [10,20,34,45,11,67,30]
print(lst,type(lst),id(lst))
print("-----------------------------------")
lst.sort()
print(lst,type(lst),id(lst))

[10, 20, 34, 45, 11, 67, 30] <class 'list'> 2119847883136
-----------------------------------
[10, 11, 20, 30, 34, 45, 67] <class 'list'> 2119847883136

# extend()

In [36]:
lst = [10,20,30]
lst1 = [40,50,60]
print(lst,type(lst),id(lst))
print("-------------------------")
print(lst1,type(lst1),id(lst1))
print("--------------------------")
lst.extend(lst1)
print(lst)

[10, 20, 30] <class 'list'> 2119848035136
-------------------------
[40, 50, 60] <class 'list'> 2119848041344
--------------------------
[10, 20, 30, 40, 50, 60]

# Tuple()

- Tuple is one of the pre-defined DT, and treated as list category DT.
- In realtime implementation (or) purpose of tuple is that "to store constant values"
 - Example: Name: "vinay"
 -  Bank account

In [37]:
tup = (10,20,30,10,20,40)
print(tup,type(tup),id(tup))

(10, 20, 30, 10, 20, 40) <class 'tuple'> 2119847634464

In [38]:
tup[2]

30

In [39]:
tup[5]

40

In [41]:
t2 = 10,20,30,40,50
print(t2)
print("---------------------------")
x = (10)
print(x,type(x))
print("---------------------------")
x= (10,)
print(x,type(x)id(x))

SyntaxError: invalid syntax (66978776.py, line 8)

- There are two types of tuples
    - Empty
    - Non-Empty

- Pre-defined functions in tuple
    - index()
    - index()