- The process of converting one possible type of value into another possible type of value is called "Type casting".
- In python programming, we have 5-fundamental type casting techniques.
    - 1) Int()
    - 2) Float()
    - 3) bool()
    - 4) complex()
    - 5) str()

# 1) Int():
- This function is used for converting one type of possible value into int type value.
    - Syntax: varname = int(float / bool / comp / str)

In [1]:
a = 12.34
print(a,type(a),id(a))
print("--------------------------")
b = int(a)
print(b,type(b),id(b))

12.34 <class 'float'> 2126405499568
--------------------------
12 <class 'int'> 140722999702792

In [2]:
a = 23.5
print(a,type(a),id(a))
print("-------------------------")
b = int(a)
print(b,type(b),id(b))

23.5 <class 'float'> 2126405498864
-------------------------
23 <class 'int'> 140722999703144

# boolean to int:

In [3]:
a = True
print(a,type(a),id(a))
print("------------------------")
b = int(a)
print(b,type(b),id(b))

True <class 'bool'> 140722998790624
------------------------
1 <class 'int'> 140722999702440

In [5]:
x = False
print(x,type(x),id(x))
print("------------------------")
y = int(x)
print(y,type(y),id(y))

False <class 'bool'> 140722998790656
------------------------
0 <class 'int'> 140722999702408

# complex to int: not possible

# str to int: not possible

# 2) Float():
- This function is used for converting one type of possible value into another type of possible value.
    - syntax: varname = float(int / bool / complex / str)

# int to float:

In [7]:
a = 14
print(a,type(a),id(a))
print("----------------------")
b = float(a)
print(b,type(b),id(b))

14 <class 'int'> 140722999702856
----------------------
14.0 <class 'float'> 2126406996176

In [8]:
a = 36
print(a,type(a),id(a))
print("----------------------")
b = float(a)
print(b,type(b),id(b))

36 <class 'int'> 140722999703560
----------------------
36.0 <class 'float'> 2126405498864

# bool to float: posible

# complet to float: not possible

# str float to float: possible

# str bool to float: not possible

# 3) bool():
- This function is used for converting one type of possible value to another type of possible value.
    - syntax: varname = bool(int / float / complex / str)

# int to bool

In [9]:
a = 100
print(a,type(a),id(a))
print("----------------------")
b = bool(a)
print(b,type(b),id(b))

100 <class 'int'> 140722999705608
----------------------
True <class 'bool'> 140722998790624

In [10]:
a = -123
print(a,type(a),id(a))
print("-----------------------")
b = bool(a)
print(b,type(b),id(b))

-123 <class 'int'> 2126406995568
-----------------------
True <class 'bool'> 140722998790624

# float to bool

In [11]:
a = 2.5
print(a,type(a),id(a))
print("-----------------------")
b = bool(a)
print(b,type(b),id(b))

2.5 <class 'float'> 2126383557168
-----------------------
True <class 'bool'> 140722998790624

In [12]:
a = 0.0
print(a,type(a),id(a))
print("-----------------------")
b = bool(a)
print(b,type(b),id(b))

0.0 <class 'float'> 2126405498864
-----------------------
False <class 'bool'> 140722998790656

 # complex to bool

In [13]:
a = 2 + 5j
print(a,type(a),id(a))
print("-----------------------")
b = bool(a)
print(b,type(b),id(b))

(2+5j) <class 'complex'> 2126406996432
-----------------------
True <class 'bool'> 140722998790624

In [14]:
a = 0 + 0j
print(a,type(a),id(a))
print("-----------------------")
b = bool(a)
print(b,type(b),id(b))

0j <class 'complex'> 2126406996400
-----------------------
False <class 'bool'> 140722998790656

- All Non-Zero values are treated as True
- All Zero values are treated as False